* {
  padding: 0;
  margin: 0;
  font: normal "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* --NavBar-- */
header {
  width: 100%;
  height: 80vh;
  color: white;
  background: url(/img/main-img.jpg);
  background-size: cover;
  background-position: right bottom;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16px;
  font-weight: 100;
  font-family: "Lato", sans-serif;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-radius: 4px;
  border: 1px solid grey;
  font-size: 15px;
  font-weight: bolder;
  margin: 7em;
  text-decoration: none;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(rgba(0, 0, 0, 0.2)),
      color-stop(0.05, rgba(0, 0, 0, 0)),
      color-stop(0.97, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.45))
    ),
    -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))),
    no-repeat 50% 50%,
    -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
}

header nav li {
  margin: -2px 0;
  padding: 8px 25px;
  border-right: 1px solid #4d4b4b;
  font-size: 12px;
}
header nav ul li:last-child {
  border: none;
}

header nav ul li :hover {
  background: rgba(0, 0, 0, 0.3);
}
header nav ul li a {
  font-size: 15px;
}

header nav ul li .nav-search {
  width: 100%;
  margin-bottom: 10px;
}
header nav ul li .nav-search i {
  position: absolute;
  min-width: 40px;
  padding: 4px;
}
header nav ul li .search-box {
  background: linear-gradient(
    to bottom,
    rgb(100, 100, 100) 0%,
    rgba(89, 89, 89, 1) 50%,
    rgba(130, 130, 130, 1) 52%,
    rgba(130, 130, 130, 1) 100%
  );
  border-radius: 25px;
  width: 100px;
}
a {
  text-decoration: none;
}
.container {
  width: 980px;
  margin: 0 350px;
}
