* {
  padding: 0;
  margin: 0;
  font: normal "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body a {
  text-decoration: none;
}
body p a {
  color: #08c;
}

/* -- Nav -- */
nav a {
  font-size: 1.5em;
}

header {
  color: white;
  width: 100%;
  height: 100vh;
  background: url("/img/main-img.jpg");
  background-position: right bottom;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-family: "Lato", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5em;
  list-style: none;
  font-weight: bolder;
  font-size: 15px;
  border: 0.8px solid #888;
  border-radius: 4px;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(rgba(0, 0, 0, 0.2)),
      color-stop(0.05, rgba(0, 0, 0, 0)),
      color-stop(0.97, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.45))
    ),
    -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))),
    no-repeat 50% 50%,
    -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
}

.nav-menu li {
  margin: -3px 0;
  padding: 8px 30px;
  border-right: 1px solid #4d4b4b;
}

nav ul li:last-child {
  border: none;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.search-bar {
  border: inherit;
  background: linear-gradient(
    to bottom,
    rgb(100, 100, 100) 0%,
    rgba(89, 89, 89, 1) 50%,
    rgba(130, 130, 130, 1) 52%,
    rgba(130, 130, 130, 1) 100%
  );
  border-radius: 25px;
  width: 100px;
}

/* --Content subhead -- */

.subhead {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 350px;
}

.subhead-1 {
  width: 1000px;
  height: 112px;
}

.subhead-2 {
  margin-top: -29px;
  width: 1000px;
  height: 86px;
}

.subhead-3 {
  margin-top: 20px;
  width: 980px;
}

.subhead-3:hover {
  background: transparent url("/img/your_verse_cta.png") underline bottom
    no-repeat;
  cursor: pointer;
}

/* -- Thumbnail -- */
.thumbnails-container {
  width: 100%;
  display: flex;
}

.thumbnails-container a {
  display: flex;
  height: auto;
}

.thumbnails {
  width: 25%;
  flex: 1;
}

/* --Footer -- */
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #4d4b4b;
  font-size: 10px;
  padding: 15px;
  margin: 0 -30px;
}

.copyright {
  padding: 15px 80px;
  color: #4d4b4b;
  font-size: 10px;
  margin-bottom: 20px;
}

.search-icons i {
  position: absolute;
  width: 100%;
  margin-bottom: 10px;
}

.fa-search {
  padding: 4px;
  min-width: 40px;
}
footer a {
  color: #08c;
}
footer li {
  display: inline;
  padding-left: 0.6em;
  margin-left: 0.6em;
  border-left: 1px solid #ccc;
}
footer ul li a img {
  width: 16px;
  height: 16px;
}

footer a:hover {
  text-decoration: underline;
}
